@charset "utf-8";

* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    background-color: rgba(248, 221, 248, 0.94);
    width: 400px;
    border-radius: 10px;
    border: 5px;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    width: 300px;
}

.medida {
    width: 100px;
}

.data {
    width: 150px;
}

#infos {
    width: 10px;
}

